.formInput {
    border: 0.5px solid var(--text);
    border-radius: 5px;
    padding: 12px 14px;
    width: 100%;
    margin: 10px 0;
    transition: var(--transition);
}

.passwordInput.error .formInput {
    border: 0.5px solid var(--error);
}

.passwordInput.error .passLabel {
    color: var(--error);
}

.passwordInput {
    width: 100%;
    position: relative;
}

.passwordInput svg {
    position: absolute;
    top: 50%;
    right: 14px;
    transform: translateY(-50%);
    fill: var(--purple);
    transition: var(--transition);
    cursor: pointer;
}

.passwordInput svg.activePass {
    fill: var(--dark-purple);
}

.passLabel {
    position: absolute;
    top: 50%;
    left: 4px;
    transform: translateY(-50%);
    transition: var(--transition);
    padding: 0 10px;
    user-select: none;
    background: linear-gradient(180deg, transparent 0%, transparent 45%, var(--bg) 46%, var(--bg) 51%, transparent 52%, transparent 100%);
}

.passLabel.activeLabel {
    font-size: 12px;
    line-height: 14px;
    left: 10px;
    top: 17.5%;
}

@media(max-width:540px){
    .formInput{
        padding: 5px 10px;
        margin: 5px 0;
    }
}